In [1]:
%reload_ext sql

In [2]:
%%sql
sqlite:///CourseDataWarehouse1.db

'Connected: @CourseDataWarehouse1.db'

We are able to use the Course_Info dimension table to show all of the different courses that Professor Walker has taught in this time period. We also use the LIKE function to find this information without knowing his middle initial.

In [3]:
%%sql
SELECT DISTINCT primary_instructor, title
FROM Course_Info
WHERE primary_instructor LIKE "Brian%Walker"

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Brian G.  Walker', 'General Biology III Lab'),
 ('Brian G.  Walker', 'Special Topics in Biology'),
 ('Brian G.  Walker', 'General Biology I Lab'),
 ('Brian G.  Walker', 'Independent Study'),
 ('Brian G.  Walker', 'Human Physiology Lab'),
 ('Brian G.  Walker', 'Biology Teaching Practicum'),
 ('Brian G.  Walker', 'Endocrinology'),
 ('Brian G.  Walker', 'Internship'),
 ('Brian G.  Walker', 'Health Studies Capstone'),
 ('Brian G.  Walker', 'General Biology II')]

We added in the term column to show the different courses that Professor Walker will be teaching this semester and will therefore have to create separate lesson plans for.

In [42]:
%%sql
SELECT DISTINCT primary_instructor, title, term
FROM Course_Info
WHERE primary_instructor LIKE "Brian%Walker" AND term = "Spring2019"

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Brian G.  Walker', 'General Biology II', 'Spring2019'),
 ('Brian G.  Walker', 'Biology Teaching Practicum', 'Spring2019'),
 ('Brian G.  Walker', 'Internship', 'Spring2019'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'Spring2019')]

We were able to join the Course_Info and the Location tables with the Fact table to show that of the 6 times that Professor Walker has taught Health Studies Capstone, they were all taught in different classrooms except one time.

In [26]:
%%sql
SELECT DISTINCT primary_instructor, title, location, term
FROM Fact F Join Course_Info CI ON F.course_ID = CI.course_ID
        JOIN Location L ON L.location_ID = F.location_ID
WHERE primary_instructor LIKE "Brian%Walker" AND title = "Health Studies Capstone"

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Brian G.  Walker', 'Health Studies Capstone', 'BNW 333', 'Fall2018'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'BNW 361', 'Spring2019'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'BNW 254A', 'Spring2016'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'BNW 139', 'Spring2017'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'BNW 333', 'Spring2019'),
 ('Brian G.  Walker', 'Health Studies Capstone', 'BNW 137', 'Spring2016')]

We joined together the Course_Info and the Catalog_Info tables with the Fact table to show the prereqs that are required for the Health Studies Capstone Class are HS 0101 and the completion of at least two health studies electives.

In [49]:
%%sql
SELECT DISTINCT primary_instructor, title, prereqs
FROM Fact F Join Course_Info CI ON F.course_ID = CI.course_ID
        JOIN Catalog_Info CA ON CA.catalog_id = F.catalog_id
WHERE primary_instructor LIKE "Brian%Walker" AND title = "Health Studies Capstone"

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Brian G.  Walker', 'Health Studies Capstone', 'HS 0101; completion of at least two health studies electives.')]

Because we learned about the prereqs to the Health Studies Capstone, we wanted to look up what HS 0101 was and the professor that teaches it in Fall of 2018.

In [60]:
%%sql
SELECT primary_instructor, title
FROM Fact F Join Course_Info CI ON F.course_ID = CI.course_ID
        JOIN Catalog_Info CA ON CA.catalog_id = F.catalog_id
WHERE CA.catalog_id = "HS 0101" AND term = "Fall2018"
LIMIT 1;

 * sqlite:///CourseDataWarehouse1.db
Done.

[('Patrick W.  Kelley', 'Introduction to Health Studies')]