In [1]:
% reload_ext sql

In [2]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

In [6]:
%%sql
sqlite:///movies.db
DROP TABLE IF EXISTS COURSE_CATALOG;
DROP TABLE IF EXISTS COURSE;
DROP TABLE IF EXISTS COURSE_MEETING;

Done.
Done.
Done.

[]

In [8]:
%%sql
CREATE TABLE COURSE_CATALOG (
    Program_Code TEXT,
    Program_Name TEXT,
    Catalog_ID TEXT PRIMARY KEY,
    Course_Title TEXT,
    Credits TEXT,
    Prereqs TEXT,
    Coreqs TEXT,
    Fees TEXT,
    Attributes TEXT,
    Description TEXT
);

   sqlite:///CourseData.db
 * sqlite:///movies.db
Done.

[]

In [9]:
%%sql
CREATE TABLE COURSE (
    Term TEXT,
    CRN INTEGER PRIMARY KEY,
    Catalog_ID TEXT,
    Section TEXT,
    Credits INTEGER,
    Title TEXT,
    Meetings TEXT,
    Timecodes TEXT,
    Primary_Instructor TEXT,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER
);

   sqlite:///CourseData.db
 * sqlite:///movies.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE COURSE_MEETING (
    CRN INTEGER PRIMARY KEY,
    Location TEXT,
    Day TEXT PRIMARY KEY,
    Start TEXT,
    End TEXT,
);