In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///CourseData2.db

'Connected: @CourseData2.db'

In [13]:
%%sql
DROP TABLE import_coursemeetings;
DROP TABLE import_courses;
DROP TABLE import_coursecatalog17_18;
DROP TABLE import_coursecatalog18_19;

 * sqlite:///CourseData2.db
Done.
Done.
Done.
Done.

[]

In [14]:
%%sql
DROP TABLE coursemeetings;
CREATE TABLE coursemeetings (
    term TEXT NOT NULL,
    crn INTEGER SURROGATE KEY,
    location TEXT NOT NULL,
    day TEXT SURROGATE KEY,
    start TEXT NOT NULL,
    end TEXT NOT NULL);

 * sqlite:///CourseData2.db
Done.
Done.

[]

In [16]:
%%sql
INSERT INTO coursemeetings (term,crn,location,day,start,end)
SELECT term,crn,location,day,start,end
FROM import_coursemeetings

 * sqlite:///CourseData2.db
317339 rows affected.

[]

In [17]:
%%sql
SELECT *
FROM import_coursemeetings
LIMIT 10;

 * sqlite:///CourseData2.db
Done.

[('Fall2014', '70384', 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00'),
 ('Fall2014', '70384', 'DSB 105', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00')]

In [18]:
%%sql
DROP TABLE courses;
CREATE TABLE courses (
    term TEXT NOT NULL,
    crn INTEGER SURROGATE KEY,
    catalog_id TEXT NOT NULL,
    section TEXT NOT NULL,
    credits FLOAT NOT NULL,
    title TEXT NOT NULL,
    meetings TEXT NOT NULL,
    timecodes TEXT NOT NULL,
    primary_instructor TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    FOREIGN KEY(catalog_id) REFERENCES coursecatalog(catalog_id));

 * sqlite:///CourseData2.db
Done.
Done.

[]

In [19]:
%%sql
INSERT INTO courses (term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem)
SELECT term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
FROM import_courses

 * sqlite:///CourseData2.db
15955 rows affected.

[]

In [21]:
%%sql
CREATE TABLE coursecatalog (
program_code TEXT NOT NULL,
program_name TEXT NOT NULL,
catalog_id TEXT SURROGATE KEY,
course_title TEXT NOT NULL,
credits TEXT,
prereqs TEXT,
coreqs TEXT,
fees TEXT,
attributes TEXT,
description TEXT NOT NULL);

 * sqlite:///CourseData2.db
Done.

[]

In [22]:
%%sql
INSERT INTO coursecatalog (program_code, program_name, catalog_id, course_title, credits, prereqs, coreqs, fees, attributes, description)
SELECT program_code, program_name, catalog_id, course_title, credits, prereqs, coreqs, fees, attributes, description 
FROM import_coursecatalog17_18;

 * sqlite:///CourseData2.db
2220 rows affected.

[]

In [23]:
%%sql
ALTER TABLE coursecatalog
ADD Term TEXT;

 * sqlite:///CourseData2.db
Done.

[]

In [24]:
%%sql
UPDATE coursecatalog
SET term = '2017-2018';

 * sqlite:///CourseData2.db
2220 rows affected.

[]

In [25]:
%%sql
SELECT *
FROM coursecatalog
LIMIT 5;

 * sqlite:///CourseData2.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', '', '', '', '', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', '2017-2018'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', '', '', '', '', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', '2017-2018'),
 ('BU', 'Business', 'BU 0211', 'Legal Environment of Business', '3 Credits', 'Junior standing.', '', '', '', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', '2017-2018'),
 ('BU', 'Business', 'BU 0220', 'Environmental Law and Policy', '3 Credits', '', '', '', 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.', '2017-2018'),
 ('BU', 'Business', 'BU 0311', 'The Law of Contracts, Sales, and Property', '3 Credits', 'BU 0211.', '', '', '', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.', '2017-2018')]

In [26]:
%%sql
INSERT INTO coursecatalog (program_code, program_name, catalog_id, course_title, credits, prereqs, coreqs, fees, attributes, description)
SELECT program_code, program_name, catalog_id, course_title, credits, prereqs, coreqs, fees, attributes, description 
FROM import_coursecatalog18_19;

 * sqlite:///CourseData2.db
2220 rows affected.

[]

In [33]:
%%sql
select count(*),term
from coursecatalog
group by term;

 * sqlite:///CourseData2.db
Done.

[(2220, '2017-2018'), (2220, '2018-2019')]

In [32]:
%%sql
UPDATE coursecatalog
SET term = '2018-2019'
WHERE term IS NULL;

 * sqlite:///CourseData2.db
2220 rows affected.

[]