In [21]:
%reload_ext sql

In [26]:
%%sql
sqlite:///CourseDataWarehouse1.db

'Connected: @CourseDataWarehouse1.db'

In [25]:
%%sql
SELECT COUNT(section), primary_instructor
FROM CourseInfo
GROUP BY primary_instructor
ORDER BY COUNT(section) DESC
LIMIT 1;

 * sqlite:///CourseDataWarehouse.db
Done.

[(214, 'Sonya R.  Huber')]